/app/                                   @JoPintoPaul @natcarey
/project/                               @JoPintoPaul @natcarey
/test/                                  @JoPintoPaul @natcarey
/testOnlyConf/                          @JoPintoPaul @natcarey
/conf/app.routes                        @JoPintoPaul @natcarey
/conf/application-json-logger.xml       @JoPintoPaul @natcarey
/conf/application.conf                  @JoPintoPaul @natcarey
/conf/logback.xml                       @JoPintoPaul @natcarey
/conf/messages                          @JoPintoPaul @natcarey
/conf/messages.cy                       @JoPintoPaul @natcarey
/conf/prod.routes                       @JoPintoPaul @natcarey
/conf/testOnlyDoNotUseInAppConf.routes  @JoPintoPaul @natcarey
.gitignore                              @JoPintoPaul @natcarey
.scalafmt.conf                          @JoPintoPaul @natcarey
CODEOWNERS                              @JoPintoPaul @natcarey
LICENSE                                 @JoPintoPaul @natcarey
README.md                               @JoPintoPaul @natcarey
build.sbt                               @JoPintoPaul @natcarey
generate_test_data.sh                   @JoPintoPaul @natcarey
repository.yaml                         @JoPintoPaul @natcarey
run_a11y_tests.sh                       @JoPintoPaul @natcarey
run_acceptance_tests.sh                 @JoPintoPaul @natcarey
run_acceptance_tests_dev.sh             @JoPintoPaul @natcarey
run_with_test_data.sh                   @JoPintoPaul @natcarey
run_zap_tests.sh                        @JoPintoPaul @natcarey
run_zap_tests_ci.sh                     @JoPintoPaul @natcarey