/app/                                   @HMRC/PlatUI
/project/                               @HMRC/PlatUI
/test/                                  @HMRC/PlatUI
/testOnlyConf/                          @HMRC/PlatUI
/conf/messages                          @HMRC/PlatUI
/conf/messages.cy                       @HMRC/PlatUI
.gitignore                              @HMRC/PlatUI
CODEOWNERS                              @HMRC/PlatUI
LICENSE                                 @HMRC/PlatUI
README.md                               @HMRC/PlatUI
repository.yaml                         @HMRC/PlatUI
*.sh                                    @HMRC/PlatUI
*.js                                    @HMRC/PlatUI
*.xml                                   @HMRC/PlatUI
*.conf                                  @HMRC/PlatUI
*.routes                                @HMRC/PlatUI
*.sbt                                   @HMRC/PlatUI
*.scala                                 @HMRC/PlatUI
*.html                                  @HMRC/PlatUI
