@import uk.gov.hmrc.accessibilitystatementfrontend.config.AppConfig
@import uk.gov.hmrc.accessibilitystatementfrontend.views.FooterLinks
@import uk.gov.hmrc.govukfrontend.views.Layouts

@this(
        govukLayout: GovukLayout,
        head: Head,
        languageSelect: LanguageSelect
)
@(pageTitle: Option[String] = None,
        headBlock: Option[Html] = None,
        scriptsBlock: Option[Html] = None
)(contentBlock: Html)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@beforeContentBlock = {
    @languageSelect()
}

@govukLayout(
    pageTitle = pageTitle,
    headBlock = Some(head(headBlock)),
    scriptsBlock = scriptsBlock,
    beforeContentBlock = Some(beforeContentBlock),
    footerItems = FooterLinks()
)(contentBlock)
